<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definition for EmailService -->
    <bean id="emailService" class="microteam.EmailService"/>

    <!-- Bean definition for MessagePrinter with dependency injection -->
    <bean id="messagePrinter" class="microteam.MessagePrinter">
        <constructor-arg ref="emailService"/>
    </bean>

</beans>
